body{
    background-color: #eaedf0;
}
#todo{
    width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    border: 1px solid #cfd8dc;
    box-shadow: 0 0 10px #ccc;
}
.todo-header{
    background-color: #3f94d6;
    color: white;
    height: 60px;
    border-radius: 10px 10px 0 0;
}
.todo-header h2{
    margin: 0;
    text-align: center;
    line-height: 60px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}
.tasks{
    margin: 0;
    padding: 0;
}
.task{
    list-style: none;
    border: 1px solid #cfd8dc;
    height: 50px;
}
.task:last-child {
    border-radius: 0 0 10px 10px;
}
.task:last-child .col-1{
    border-radius: 0 0 0 10px;
}
.task:last-child .col-3{
    border-radius: 0 0 10px 0;
}
.add-block{
    height: 50px;
    border-top: 1px solid #cfd8dc;
    border-bottom: 1px solid #cfd8dc;
}
.add-field{
    width: 80%;
    height: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
    border: 0;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.add-button{
    border: 0;
    padding: 0;
    color: #3f94d6;
    font-size: 40px;
    font-weight: bold;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;
}
.col-1{
    width: 10%;
    float: left;
    background-color: #bbdefb;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.col-2{
    width: 70%;
    float: left;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    max-width: 100%;
}
.col-3{
    width: 20%;
    height: 100%;
    float: left;
    background-color: #bbdefb;
    max-width: 100%;
    box-sizing: border-box;
}
.col-3:hover{
    background-color: #90caf9;
    cursor: pointer;
}
.task-remove{
    background-image: url(../img/trash.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.checked{
    text-decoration: line-through;
}